<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.hoseki" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hoseki</name>
    <description>Aplicação de dados</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">AnaLuRandis</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <vs:toolsetVersion xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">6.3.1</vs:toolsetVersion>
    <preference name="windows-target-version" value="10.0" />
    <preference name="Fullscreen" value="False" />
    <access origin="http://localhost:56747/" />
    <access origin="http://192.168.0.11/" />
    <engine name="android" spec="^6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="ios" spec="4.2.0" />
    <engine name="windows" spec="4.4.2" />
    <plugin name="cordova-pdf-generator" spec="^1.5.5" />
    <plugin name="cordova-plugin-compat" spec="~1.0.0" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.3" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-sqlite-storage" spec="^2.1.1" />
</widget>
